!!!
%html
  %head
    =haml :head_gameboard
  %body
    #cover-all
      .box.message
        .heading
          %h2 Game Over
        .score-board
          %span#team1namefinal.accent-text Team 1
          %span#team1finalscore 0
          %span -
          %span#team2finalscore 0
          %span#team2namefinal.accent-text Team 2
        %button.button{:onclick => "window.location='/game_queue/'"} Play again
        %button.button{:onclick => "window.location='/'"} Back
    #onscreen
      #waiting Waiting for other players
      .keys
        %span.left arrows / numpad
        %span.middle - 
        %span.right move around
      .keys
        %span.left a / d
        %span.middle -
        %span.right dribble up / down
      .keys
        %span.left s
        %span.middle -
        %span.right shoot 
    #timebox
      %span#time 90
      %span :
      %span 00
    #stage
      %canvas{:id => "canvas", :width => 1000, :height => 600} 
    #score
      %span.accent-text#team1name Team 1
      %span#team1 0
      %span -
      %span#team2 0
      %span.accent-text#team2name Team 2
    #menu
      %button.button{:onclick => ""} S
