!!!
%html
  %head
    =haml :head_gameboard
  %body
    #timebox
      %center
        %span#time 90
        %span :
        %span 00
    #stage
      %canvas{:id => "canvas", :width => 1000, :height => 600} 
    #score
      %center
        %span.accent-text Team 1
        %span#team1 0
        %span -
        %span#team2 0
        %span.accent-text Team 2
