%script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
%script{:type => "text/javascript", :src  => "/js/audio.js"}
%script{:type => "text/javascript", :src  => "/js/game.js"}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/grid.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/styles.css'}
%link{:href => "http://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,greek,latin-ext,cyrillic", :rel => "stylesheet", :type => "text/css"}
%audio{:id => "whistle", :preload => "true", :autobuffer => true}
  %source{:src => "/audio/whistle.wav"}
%audio{:id => "theme", :preload => "true", :autobuffer => true}
  %source{:src => "/audio/themesong.ogg"}
#gameConfig
  #current_player=@game.number_of_players
  #maximum_players=@game.maximum_players
  #port=@game.port
  -if @user  
    #signed_on 1
    #lookup=@user.lookup
    #user_id=@user.id
    #team_name=@user.name
    #selected_color=@user.color
    #audio_muted=@user.audio_muted
  -else
    #signed_on 0
    #team_name="Team #{@game.number_of_players}"
    #selected_color=1
    #audio_muted=false
  -$config.each do |key,value|
    %div{:id => key}=value
