%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/grid.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/styles.css'}
%script{:type => "text/javascript", :src => "/vendor/js/jq.min.js"}
%script{:type => "text/javascript", :src  => "/js/message.js"}
-if @message
  :javascript
    $(document).ready(function(){
      $('#cover-all').show();
    });
