.row.shadow
  .col3
  .col6
    .box
      %div.center-text
        %h1 Play VS.
      %div.center-text
        -if session[:user]
          %button.button.inactive Friend
        -else 
          %button.button.inactive Friend
        %button.button{:onclick => "window.location='/game_queue/'"} Random
  .col3.last
-if session[:user]
  .row
    .col12
      .article
        .heading
          %h2.shadow-bottom="Logged in as \"#{@user.name}\""
.row
  .col8
    .article
      .heading
        %h2 Playing the game
      .box=haml :thegame
  .col4.last.center-text
    -if session[:user]
      %button.linebutton#loginbutton{:onClick => "window.location='/log/out'"} Log out
      %button.linebutton#loginbutton{:onClick => "popup({url:'/settings'})"} Settings
      %button.linebutton#loginbutton{:onClick => "popup({url:'/credits'})"} Credits
      .article
        .heading
          %h2.shadow-left Friends
    -else
      %button.linebutton#signup{:onClick => "popup({url:'/signupform'})"} Sign up
      %button.linebutton#loginbutton{:onClick => "popup({url:'/loginform'})"} Log in
      %button.linebutton#loginbutton{:onClick => "popup({url:'/credits'})"} Credits
.row
  .col8
    .article
      .heading
        %h2 Playing with friends
      .box= haml :playingwithfriends
  .col4.last
    .article
      .heading
        %h2.shadow-left Highscore
