!!!
%html
  %head
    %script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
  %body
    #header
    #stage
    #footer
:javascript
  var socket;
  function connect(){
    try{
      var socket;
      var host = "ws://0.0.0.0:8080/#{rand(5)+1}";
      var socket = new WebSocket(host);
      socket.onopen = function(){
        console.log("Connecting");
        socket.send("#{rand(4)+1}");
        socket.send("#{"A"*(rand(6)+1)}");
        socket.send("B");
      }
      socket.onmessage = function(msg){
        console.log(msg.data);
        console.log(msg);
      }
      socket.onclose = function(){
        console.log("Connection closed");
      }
      return socket;
    } catch(exception){
       alert("Socket initialization failed");
    }
  }
  $(document).ready(function(){ 
    socket = connect(); 
  });
