.row.shadow
  .col3
  .col6
    .box
      %div.center-text
        %h1 Play VS.
      %div.center-text
        %button.inactive Friend
        %button Random
  .col3.last
.row
  .col8
    .article
      .heading
        %h2 Controls
      %p To control you character use the numpad keys or the 
  .col4.last
    .article
      .heading
        %h2.shadow-left Highscore
