!!!
%html
  %head
    =haml :head_portal
  %body
    #cover-all
      .box.message
        -if @message 
          .heading
            %h2 Message
          %p=@message
          %button{:onclick => "$('#cover-all').hide();"} OK
        -if @delete
          %button#delete{:onclick => "window.location='/user/delete'"} Delete
          
    #header.row
      .col4
      .col4
        %span#logo
      .col4.last
    #content.row
      =yield
