!!!
%html
  %head
    =haml :head_portal
  %body
    #cover-all
      .box.message
        -if @message 
          =@message 
    #header.row
      .col4
      .col4#logo
        %img{:src => "/img/AsciiSoccer_logo.png"}
      .col4.last
    #content.row
      =yield
