.heading
  %h2=@text
%form{:id => "#{@type}form",:method => "post"}
  %label Email: 
  %input{:name => "email", :onKeyPress => "return false;"}
  %label Password: 
  %input{:type => "password", :name => "password", :onKeyPress => "return false;"}
  %div
    %button.button{:type => "button",:onclick => "submitForm('##{@type}form','#{@submit}');"}=@text
    -if @login
      %button.button{:type => "button",:onclick => "submitForm('##{@type}form','/recover');"} Recover
    %button.button{:onclick => "$('#cover-all').hide(); return false;"} Close
