%p To play with your friends simply signup for an account. This allows you to search for and add friends to your friends lits. It will also allow your games to be ranked. The highest ranked players can be seen to the right on the highscore list.
