!!!
%h1 Asciisoccer - Password recover
%p
  This email was sent to you because a password request was recived in our systems. If you haven't requested such a password reset please ignore this email.
%p If you do want to reset your password please follow this link
%p=@user.recover_key
