.box.form
  %form{:method => "post", :action => "/signup"}
    %label Email
    %input{:name => "email"}
    %label Password
    %input{:type => 'password', :name => "password"}
    %button.center Signup
