%p AsciiSoccer is a soccer like game where you control one of the players on the soccer field. The goal of the game is to score as manny goals as possible before the game ends.
%p When starting a new game you will have to wait for other players to join. When enough player has joined a countdown starts and after that the game takes off. After ninety seconds the team with the most goals is named the winner. If the score is equal the game counts as a draw.
%p To control your player you use the numpad, make sure numlock is on, or the arrow keys. You can shoot using the s key and dribble using the a and d keys. Let the fun begin!
