@import "color"  
  
body 
  background-color: $color-light
  color: $color-text
  font-family: 'Press Start 2P', cursive

#stage
  background-color: #000
  width: 1000px
  height: 600px
  margin-left: auto
  margin-right: auto
  border: 3px solid $color-white

#score
  padding-top: 20px
  padding-bottom: 20px
  background-color: #000
  width: 500px
  margin-left: auto
  margin-right: auto
  border: 3px solid $color-white
  border-top-width: 0px

#gameConfig
  display: none

#timebox
  padding-top: 20px
  padding-bottom: 20px
  background-color: #000
  width: 300px
  margin-left: auto
  margin-right: auto
  border: 3px solid $color-white
  border-bottom-width: 0px

#onscreenkeyboard
  background-color: #000
  width: 300px
  height: 300px
  margin-left: auto
  margin-right: auto
  border: 3px solid $color-white
  border-top-width: 0px

#onscreenkeyboard button
  display: inline-block
  width: 90px
  height: 90px
  border: 0
  margin: 0
  padding: 2px

@media only screen and (-webkit-device-pixel-ratio:1.5)
  #onscreenkeyboard

@media only screen and (-webkit-device-pixel-ratio:.75)
  #onscreenkeyboard

@media only screen and (-webkit-device-pixel-ratio:1)
  #onscreenkeyboard
