@import "color"

body 
  background-color: $light
  color: $white
  font-family: 'Press Start 2P', cursive

h1
  padding-top: 20px
  text-shadow: $black 0.1em 0.1em 0.1em
  position: relative

p
  line-height: 1.25em
  font-size: 0.8em
  padding: 10px
  text-align: left
  text-shadow: $gray 0.1em 0.1em 0.1em

h2
  font-size: 1.5em
  padding: 10px
  -moz-box-shadow: 7px 7px $shadow
  -webkit-box-shadow: 7px 7px $shadow
  box-shadow: 7px 7px $shadow

label
  text-shadow: $black 0.1em 0.1em 0.1em
  color: $white
  padding: 0.5em
  padding-top: 1em
  display: block

.button
  margin: 20px
  padding: 10px
  border-radius: 4px
  font-family: 'Press Start 2P', cursive
  font-size: 1.5em
  color: $white
  background-color: $gray
  border: 0px solid $black
  display: inline-block
  text-align: center
  cursor: pointer
  text-shadow: $black 0.1em 0.1em 0.1em
  -moz-box-shadow: 3px 3px $black
  -webkit-box-shadow: 3px 3px $black
  box-shadow: 3px 3px $black

.button:hover
  color: $accent
  background-color: $active

.button.inactive
  color: $inactive

.button.inactive:hover
  background-color: $gray
  color: $inactive

input, input:active
  border: 3px solid $white
  width: 250px
  height: 20px
  color: $gray
  background-color: $white
  font-size: 0.7em
  font-family: 'Press Start 2P', cursive
  outline: none
  padding: 2px
  border-radius: 4px
  -moz-box-shadow: 3px 3px $black
  -webkit-box-shadow: 3px 3px $black
  box-shadow: 3px 3px $black
  margin: 10px

input:focus
  outline: none
  border-color: $accent

.shadow
  padding-bottom: 10px

.box
  margin-left: auto
  margin-right: auto
  margin-bottom: 20px
  text-align: center
  border: 5px solid $white
  -moz-box-shadow: 7px 7px $shadow
  -webkit-box-shadow: 7px 7px $shadow
  box-shadow: 7px 7px $shadow
  background-color: $light

.box .heading h2
  -moz-box-shadow: 0px 7px $shadow
  -webkit-box-shadow: 0px 7px $shadow
  box-shadow: 0px 7px $shadow

.message
  width: 650px

.center-text
  text-align: center

.article
  margin-top: 1em

.heading
  background-color: $white
  color: $shadow
  margin-bottom: 0.5em

.shadow-left
  -moz-box-shadow: -7px 7px $shadow
  -webkit-box-shadow: -7px 7px $shadow
  box-shadow: -7px 7px $shadow

.shadow-bottom
  -moz-box-shadow: 0px 7px $shadow
  -webkit-box-shadow: 0px 7px $shadow
  box-shadow: 0px 7px $shadow

#logo
  width: 100%
  height: 9em
  margin-top: 2em
  margin-bottom: 2em
  display: block
  background-color: $black

.linebutton
  font-family: 'Press Start 2P', cursive
  font-weight: bold
  font-size: 1.5em
  margin-top: 15px
  padding: 10px
  width: 100%
  display: block
  border: 0
  -moz-box-shadow: -7px 7px $shadow
  -webkit-box-shadow: -7px 7px $shadow
  box-shadow: -7px 7px $shadow
  background-color: $white
  color: $shadow
  cursor: pointer


#loginbutton:hover
  background-color: $accent2
  color: $white

#signup:hover
  background-color: $accent2
  color: $white

#login
  display: inline-block
  margin: 0
  padding: 20px

#loginspan
  display: inline-block
  width: 70%

#loginspan input
  width: 80%
  display: inline-block

#cover-all
  background-color: rgba(30,30,30,0.5)
  width: 100%
  height: 100%
  left: 0
  top: 0
  position: fixed
  z-index: 9999
  display: none

.error
  line-height: 1.25em
  margin-top: 10px
  border-radius: 4px
  padding: 10px
  margin-left: auto
  margin-right: auto
  width: 90%
  background-color: $accent2
  -moz-box-shadow: -7px 7px $shadow
  -webkit-box-shadow: -7px 7px $shadow
  box-shadow: -7px 7px $shadow
  text-shadow: $black 0.1em 0.1em 0.1em

.message
  margin-top: 200px

.colorpicker:active
  -webkit-appearance: none
  border: 5px solid $shadow
  width: 25px
  height: 25px
.colorpicker
  -webkit-appearance: none
  border: 5px solid $shadow
  width: 25px
  height: 25px

.colorpicker:checked
  -webkit-appearance: none
  border: 5px solid $white
  width: 25px
  height: 25px

.color1
  background-color: $color1

.color2
  background-color: $color2

.color3
  background-color: $color3

.color4
  background-color: $color4

.color5
  background-color: $color5

.color6
  background-color: $color6

.color7
  background-color: $color7

.color8
  background-color: $color8

#stage
  background-color: $black
  width: 1000px
  height: 600px
  margin-left: auto
  margin-right: auto
  border: 3px solid $white

#score
  padding-top: 20px
  padding-bottom: 20px
  background-color: $black
  width: 1000px
  margin-left: auto
  margin-right: auto
  text-align: center
  border: 3px solid $white
  border-top-width: 0px

#gameConfig
  display: none

#timebox
  padding-top: 20px
  padding-bottom: 20px
  background-color: $black
  width: 1000px
  margin-left: auto
  margin-right: auto
  margin-top: 2em
  text-align: center
  border: 3px solid $white
  border-bottom-width: 0px

.score-board
  margin: 1em
  padding: 1em
  font-size: 1.25em
  border: 3px solid $white
  background-color: $black

.hidden
  visibility: hidden
  width: 0
  height: 0
  margin: 0
  padding: 0

h4 
  line-height: 1em
  margin-bottom: 5px

.names
  padding-top: 1em

.scroller
  height: 300px
  overflow-y: hidden
  display: block
  border-bottom:  5px solid $white

  .heading
    margin-top: 15em

  .end
    margin-top: 10em

#onscreen
  position: fixed
  width: 100%
  height: 50%
  left: 0
  top: 0
  z-index: 9999
  padding-top: 20em
  
  #waiting
    width: 800px
    text-align: center
    margin-left: auto
    margin-right: auto
    display: block
    font-size: 1.4em
    line-height: 1.4em
    margin-bottom: 3em
  
  .keys
    margin-top: 1em
    width: 800px
    text-align: center
    font-size: 0.8em
    margin-left: auto
    margin-right: auto
    display: block

    span
      display: inline-block
    
    .left
      width: 35%
    .right
      width: 35%
    .middle
      width: 2%

#menu
  width: 1000px
  margin-left: auto
  margin-right: auto
  margin-top: 1em
  text-align: left
  
  .button
    margin: 0px
