$color-white:  #ffffff
$color-black:  #000000
$color-light:  #3b9f3b
$color-dark:   #1b9fae
$color-shadow: #354535
$color-accent: #D3D32b
$color-text:   #ffffff
  
body 
  background-color: $color-light
  color: $color-text
  font-family: 'Press Start 2P', cursive

.accent-text
  color: $color-accent

.box
  padding: 20px
  margin-left: auto
  margin-right: auto
  text-align: center
  border: 5px solid $color-white
  -moz-box-shadow: 8px 7px $color-shadow
  -webkit-box-shadow: 7px 7px $color-shadow
  box-shadow: 7px 7px $color-shadow

.message
  width: 600px

.form
  width: 400px

label
  text-shadow: $color-black 0.1em 0.1em 0.1em
  color: $color-white
  padding: 0.5em
  padding-top: 1em
  display: block

button
  padding: 20px
  font-family: 'Press Start 2P', cursive
  font-size: 1.5em
  color: $color-white
  background-color: $color-light
  border: 0px solid $color-black
  display: block
  margin-left: auto
  margin-right: auto
  text-align: center
  cursor: pointer
  text-shadow: $color-black 0.1em 0.1em 0.1em

button:hover
  color: $color-accent

input, input:active
  border: 3px solid $color-white
  width: 250px
  height: 20px
  color: $color-white
  background-color: $color-light
  font-size: 0.7em
  font-family: 'Press Start 2P', cursive
  outline: none

input:focus
  outline: none
  border-color: $color-accent
