@import "color"

body 
  background-color: $color-light
  color: $color-text
  font-family: 'Press Start 2P', cursive

h1
  padding-top: 20px
  text-shadow: $color-black 0.1em 0.1em 0.1em
  position: relative

p
  line-height: 1.25em
  font-size: 0.8em
  padding: 10px
  text-align: left
  text-shadow: $color-gray 0.1em 0.1em 0.1em

h2
  font-size: 1.5em
  padding: 10px
  -moz-box-shadow: 7px 7px $color-shadow
  -webkit-box-shadow: 7px 7px $color-shadow
  box-shadow: 7px 7px $color-shadow

label
  text-shadow: $color-black 0.1em 0.1em 0.1em
  color: $color-white
  padding: 0.5em
  padding-top: 1em
  display: block

.button
  margin: 20px
  padding: 10px
  border-radius: 4px
  font-family: 'Press Start 2P', cursive
  font-size: 1.5em
  color: $color-white
  background-color: $color-gray
  border: 0px solid $color-black
  display: inline-block
  text-align: center
  cursor: pointer
  text-shadow: $color-black 0.1em 0.1em 0.1em
  -moz-box-shadow: 3px 3px $color-black
  -webkit-box-shadow: 3px 3px $color-black
  box-shadow: 3px 3px $color-black

.button:hover
  color: $color-accent
  background-color: #454577

.button.inactive
  color: #999

.button.inactive:hover
  background-color: $color-gray
  color: #999

input, input:active
  border: 3px solid $color-white
  width: 250px
  height: 20px
  color: $color-gray
  background-color: $color-white
  font-size: 0.7em
  font-family: 'Press Start 2P', cursive
  outline: none
  padding: 2px
  border-radius: 4px
  -moz-box-shadow: 3px 3px $color-black
  -webkit-box-shadow: 3px 3px $color-black
  box-shadow: 3px 3px $color-black
  margin: 10px

input:focus
  outline: none
  border-color: $color-accent

.shadow
  padding-bottom: 10px

.box
  margin-left: auto
  margin-right: auto
  margin-bottom: 20px
  text-align: center
  border: 5px solid $color-white
  -moz-box-shadow: 7px 7px $color-shadow
  -webkit-box-shadow: 7px 7px $color-shadow
  box-shadow: 7px 7px $color-shadow
  background-color: $color-light

.box .heading h2
  -moz-box-shadow: 0px 7px $color-shadow
  -webkit-box-shadow: 0px 7px $color-shadow
  box-shadow: 0px 7px $color-shadow

.message
  width: 600px

.center-text
  text-align: center

.article
  margin-top: 1em

.heading
  background-color: $color-white
  color: $color-shadow
  margin-bottom: 0.5em

.shadow-left
  -moz-box-shadow: -7px 7px $color-shadow
  -webkit-box-shadow: -7px 7px $color-shadow
  box-shadow: -7px 7px $color-shadow

#logo
  width: 100%
  height: 9em
  margin-top: 2em
  margin-bottom: 2em
  display: block
  background-color: $color-black

.linebutton
  font-family: 'Press Start 2P', cursive
  font-weight: bold
  font-size: 1.5em
  margin-top: 15px
  padding: 10px
  width: 100%
  display: block
  border: 0
  -moz-box-shadow: -7px 7px $color-shadow
  -webkit-box-shadow: -7px 7px $color-shadow
  box-shadow: -7px 7px $color-shadow
  background-color: $color-white
  color: $color-shadow
  cursor: pointer


#loginbutton:hover
  background-color: #CC0000
  color: $color-white

#signup:hover
  background-color: #CC0000
  color: $color-white

#login
  display: inline-block
  margin: 0
  padding: 20px

#loginspan
  display: inline-block
  width: 70%

#loginspan input
  width: 80%
  display: inline-block

#cover-all
  background-color: rgba(30,30,30,0.5)
  width: 100%
  height: 100%
  position: absolute
  z-index: 9999
  display: none

.message
  margin-top: 200px
